<div style="padding:10px;">
    <form id="newForm">
        <ons-list>
            <ons-list-header>New Server Property</ons-list-header>
            <label for="title">
                <ons-list-item tappable>
                    <div class="left">Server Name</div>
                    <div class="right"><ons-input input-id="title"></ons-input></div>
                </ons-list-item>
            </label>
            
            <ons-list-header>Server Size</ons-list-header>
            <label for="size_1">
                <ons-list-item tappable>
                    <div class="left"><ons-radio name="size" input-id="size_1"></ons-radio></div>
                    <div class="center">1vCPU, 1GB RAM, 25GB SSD, &pound;10.00/month</div>
                </ons-list-item>
            </label>
        </ons-list>

        <br>

        <ons-row>
            <ons-col><ons-button onclick="saveData();" modifier="large">Save</ons-button></ons-col>
            <ons-col><ons-button onclick="load('servers/home', 'Server Hosting');" modifier="large--quiet">Cancel</ons-button></ons-col>
        </ons-row>
    </form>
</div>