<div style="padding:10px;">
    <h3>Welcome to Trenclo Admin.</h3>
    <ons-card>
        <div class="content">
            <h4>About This App</h4>
        </div>
        <ons-list>
            <ons-list-item onclick="load('account/about', 'About This App');" tappable>View Info</ons-list-item>
        </ons-list>
    </ons-card>
</div>