<div style="padding:10px;">
    <ons-list>
        <ons-list-header>Region Info</ons-list-header>
        <ons-list-item>
            <div class="center">Region Name</div>
            <div class="right"><span id="regionname">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Company Name</div>
            <div class="right"><span id="companyname">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">VAT Number</div>
            <div class="right"><span id="vatnumber">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Company Address</div>
            <div class="right"><span id="companyaddress">Loading...</span></div>
        </ons-list-item>

        <ons-list-header>Support Contacts</ons-list-header>
        <ons-list-item>
            <div class="center">Email Address</div>
            <div class="right"><span id="supportemail">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Phone Number</div>
            <div class="right"><span id="supportphone">Loading...</span></div>
        </ons-list-item>
    </ons-list>
</div>