<div style="padding:10px;">
    <ons-list>
        <ons-list-header>My Account</ons-list-header>
        <ons-list-item>
            <div class="center">Full Name</div>
            <div class="right"><span id="name">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Email Address</div>
            <div class="right"><span id="email">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">User Type</div>
            <div class="right"><span id="usertype">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Dark Mode</div>
            <div class="right"><ons-switch id="darkmode"></ons-switch></div>
        </ons-list-item>
        
        <ons-list-header>My Tenant</ons-list-header>
        <ons-list-item>
            <div class="center">Title</div>
            <div class="right"><span id="title">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Data Location</div>
            <div class="right"><span id="region">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Tenant Type</div>
            <div class="right"><span id="tenanttype">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Billing Email</div>
            <div class="right"><span id="billingemail">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">VAT Number</div>
            <div class="right"><span id="vatnumber">Loading...</span></div>
        </ons-list-item>
        
        <ons-list-header>Actions</ons-list-header>
        <ons-list-item>
            <div class="center">Getting Started</div>
            <div class="right"><ons-button onclick="load('account/welcome', 'Getting Started')" modifier="quiet">Begin Tutorial</ons-button></div>
        </ons-list-item>
        <!--
        <ons-list-item id="partnerListItem" style="display:none;">
            <div class="center">Business Partners</div>
            <div class="right"><ons-button onclick="load('partner/home', 'Partners')" modifier="quiet">Open Portal</ons-button></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Multi-Factor Authentication</div>
            <div class="right"><ons-button onclick="load('account/mfa', 'MFA Settings')" modifier="quiet">Settings</ons-button></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Password</div>
            <div class="right"><ons-button onclick="load('account/password', 'Change Password')" modifier="quiet">Change</ons-button></div>
        </ons-list-item>
        -->
        <ons-list-item>
            <div class="center">End Session</div>
            <div class="right"><ons-button onclick="load('account/logout')" modifier="quiet">Sign Out</ons-button></div>
        </ons-list-item>
    </ons-list>
</div>