<div style="padding:10%;">
    <h3>Login to Trenclo</h3>
    <ons-button onclick="showAuthBox();">Sign In</ons-button>
    <ons-button modifier="quiet" onclick="load('account/region', 'Select Region');">Select Region</ons-button>
</div>