<div style="padding:10px;">
    <ons-row>
        <ons-col width="50%" style="padding:5px;">
            <br><ons-button style="width:100%;" onclick="selectRegion('Test');">Sandbox Mode</ons-button>
        </ons-col>
        <ons-col width="50%" style="padding:5px;">
            <br><ons-button style="width:100%;" onclick="selectRegion('GB');">United Kingdom</ons-button>
        </ons-col>
        <!--
        <ons-col width="50%" style="padding:5px;">
            <br><ons-button style="width:100%;" onclick="selectRegion('DE');" disabled>Germany</ons-button>
        </ons-col>
        <ons-col width="50%" style="padding:5px;">
            <br><ons-button style="width:100%;" onclick="selectRegion('EU');" disabled>European Union</ons-button>
        </ons-col>
        <ons-col width="50%" style="padding:5px;">
            <br><ons-button style="width:100%;" onclick="selectRegion('US-East');" disabled>US East</ons-button>
        </ons-col>
        <ons-col width="50%" style="padding:5px;">
            <br><ons-button style="width:100%;" onclick="selectRegion('US-West');" disabled>US West</ons-button>
        </ons-col>
        <ons-col width="50%" style="padding:5px;">
            <br><ons-button style="width:100%;" onclick="selectRegion('CA');" disabled>Canada</ons-button>
        </ons-col>
        <ons-col width="50%" style="padding:5px;">
            <br><ons-button style="width:100%;" onclick="selectRegion('IN');" disabled>India</ons-button>
        </ons-col>
        -->
    </ons-row>
</div>