<ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel">
    <ons-carousel-item style="background-color: #085078;">
        <div style="text-align:center;margin-top:20px;color:#fff;">
            <h3>Welcome to Trenclo!</h3>
            <br>
            <p>Swipe left to get started.</p>
            <br>
        </div>
    </ons-carousel-item>

    <ons-carousel-item style="background-color: grey;">
        <div style="text-align:center;margin-top:20px;color:#fff;">
            <h3>Tutorial Completed</h3>
            <br>
            <ons-button style="margin-top:20vh;" onclick="localStorage.setItem('TutorialSkipped', 1);load('home', 'Dashboard');">Get Started Now</ons-button>
        </div>
    </ons-carousel-item>
</ons-carousel>

<div style="width:100%;position:fixed;bottom:2px;">
    <ons-button modifier="quiet" style="color:grey;" onclick="localStorage.setItem('TutorialSkipped', 1);load('home', 'Dashboard');">Skip Tutorial</ons-button>
</div>