<div style="padding:10px;">
    <ons-list>
        <ons-list-header>Card Details</ons-list-header>
        <ons-list-item>
            <div class="center">Name on Card</div>
            <div class="right"><span id="name">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Card Number</div>
            <div class="right"><span id="card">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Expiry Date</div>
            <div class="right"><span id="expiry">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Billing Postcode</div>
            <div class="right"><span id="postcode">Loading...</span></div>
        </ons-list-item>
    </ons-list>

    <br>
    <ons-button style="width:100%;">Delete Card</ons-button>
</div>