<div style="padding:10px;">
    <form id="paymentForm">
        <ons-list>
            <ons-list-header>Add Payment Method</ons-list-header>
            <label for="name">
                <ons-list-item>
                    <div class="left">Name on Card</div>
                    <div class="right"><ons-input input-id="name" required></ons-input></div>
                </ons-list-item>
            </label>
        </ons-list>
        
        <div id="card-element" class="text-input"></div>
        <div id="card-errors" role="alert"></div>
        
        <ons-list id="testDetails" style="display:none;;">
            <ons-list-header>Test Mode Details</ons-list-header>
            <ons-list-item>
                <div class="center">Card Number</div>
                <div class="right">4242 4242 4242 4242</div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">Expiry Date</div>
                <div class="right">12/25</div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">Security Code</div>
                <div class="right">123</div>
            </ons-list-item>
        </ons-list>

        <br>
        
        <ons-row>
            <ons-col><ons-button onclick="$('form').submit();" modifier="large">Save</ons-button></ons-col>
            <ons-col><ons-button onclick="load('billing/cards', 'Payment Methods');" modifier="large--quiet">Cancel</ons-button></ons-col>
        </ons-row>
    </form>
</div>