<div class="tabbar tabbar--top tabbar--top-border">
    <label onclick="load('billing/cards', 'Payment Methods');" class="tabbar__item tabbar--top-border__item">
        <input type="radio" name="top-tabbar-b">
        <button class="tabbar__button tabbar--top-border__button">Cards</button>
    </label>
    
    <label onclick="load('billing/invoices', 'Invoices');" class="tabbar__item tabbar--top-border__item">
        <input type="radio" name="top-tabbar-b" checked>
        <button class="tabbar__button tabbar--top-border__button">Invoices</button>
    </label>
    
    <label onclick="load('billing/subscriptions', 'Subscriptions');" class="tabbar__item tabbar--top-border__item">
        <input type="radio" name="top-tabbar-b">
        <button class="tabbar__button tabbar--top-border__button">Subscriptions</button>
    </label>
</div>

<div id="data-progress-bar" class="progress-bar progress-bar--indeterminate" style="display:none;"></div>

<div style="padding:10px;">
    <ons-pull-hook id="pull-hook" style="z-index:-1;">Pull to refresh</ons-pull-hook>

    <ons-list id="dataList">
        <ons-list-item>
            <div class="center">Loading...</div>
        </ons-list-item>
    </ons-list>
</div>