<div style="padding:10px;">
    <ons-list>
        <ons-list-header id="invoiceid">Loading...</ons-list-header>
        <ons-list-item>
            <div class="center">Total</div>
            <div class="right"><span id="total">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Status</div>
            <div class="right"><span id="status">Loading...</span></div>
        </ons-list-item>
    </ons-list>

    <br>
    <ons-button style="width:100%;">Pay Invoice</ons-button>
    <br><br>
    <ons-button id="pdfurl" style="width:100%;">Download PDF</ons-button>
</div>