<div style="padding:10px;">
    <ons-list>
        <ons-list-header id="domain">Loading...</ons-list-header>
        <ons-list-item>
            <div class="center">Registration Status</div>
            <div class="right"><span id="status">Loading...</span></div>
        </ons-list-item>
        <ons-list-item>
            <div class="center">Created</div>
            <div class="right"><span id="created">Loading...</span></div>
        </ons-list-item>
    </ons-list>

    <br>
    <ons-button style="width:100%;">Cancel Domain</ons-button>
</div>