<div style="padding:10px;">
    <form id="checkForm">
        <ons-list>
            <ons-list-header>Check Domain Name Availability</ons-list-header>
            <label for="domain">
                <ons-list-item>
                    <div class="left">Domain Name</div>
                    <div class="right"><ons-input input-id="domain"></ons-input></div>
                </ons-list-item>
            </label>
        </ons-list>

        <br>
        
        <ons-row>
            <ons-col><ons-button onclick="console.log('click');checkDomain();return false;" modifier="large">Check</ons-button></ons-col>
            <ons-col><ons-button onclick="load('domains/home', 'Domain Names');return false;" modifier="large--quiet">Cancel</ons-button></ons-col>
        </ons-row>
    </form>
</div>