<div id="data-progress-bar" class="progress-bar progress-bar--indeterminate" style="display:none;"></div>

<div style="padding:10px;">
    <ons-pull-hook id="pull-hook" style="z-index:-1;">Pull to refresh</ons-pull-hook>

    <ons-list id="dataList">
        <ons-list-item>
            <div class="center">Loading...</div>
        </ons-list-item>
    </ons-list>
</div>

<!--
<ons-fab position="bottom right" onclick="load('users/new', 'Create User');" ripple>
    <ons-icon icon="md-plus"></ons-icon>
</ons-fab>
-->